<ion-header>
  <ion-toolbar>
    <ion-title>example02</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1><app-random-number-component min=0 max = 3></app-random-number-component></h1>
  <h1><app-random-number-component min = 0 max = 1></app-random-number-component></h1>
  <h1><app-random-number-component min = 0 max = 2></app-random-number-component></h1>
  <h1><app-random-number-component min = 54344 max = 400000></app-random-number-component></h1>
  <h1><app-random-number-component min = 903 max = 5344></app-random-number-component></h1>

</ion-content>
