<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Basic Examples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button href="/example01" expand="block" shape="round">Example 01</ion-button>
  <ion-button href="/example02" expand="block" shape="round">Example 02</ion-button>
  <ion-button href="/example03" expand="block" shape="round">Example 03</ion-button>
  <ion-button href="/example04" expand="block" shape="round">Example 04</ion-button>
  <ion-button href="/example05" expand="block" shape="round">Example 05</ion-button>
  <ion-button href="/example06" expand="block" shape="round">Example 06</ion-button>
  <ion-button href="/example07" expand="block" shape="round">Example 07</ion-button>
  <ion-button href="/example08" expand="block" shape="round">Example 08</ion-button>
  <ion-button href="/example09" expand="block" shape="round">Example 09</ion-button>
  
</ion-content>
